#draggable { 
	width: 150px; 
	height: 150px; 
	padding: 0.5em; 
}

#draggable-top { 
	position: absolute; 
	background : rgba(255, 255, 255, 0.5); 
	height : 20px; 
}

#draggable-middle { 
	bottom : 100px; 
	position: absolute; 
	background : rgba(255, 255, 255, 0.5); 
	height : 20px; 
}

#draggable-bottom { 
	bottom: 0px; 
	position: absolute; 
	background : rgba(255, 255, 255, 0.5); 
	height : 20px; 
}

#res-top { 
	background-repeat: no-repeat; 
}

#res-mid { 
	background-repeat: no-repeat; 
}

#res-bot { 
	background-repeat: no-repeat; 
}